@model ToDo.Models.Account.ChangePasswordModel
@{
    ViewData["Title"] = "Settings";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
<div class="container col-md-4">
    <h3 class="mx-auto text-center">Account Settings</h3>
    <hr>

    <h3 class="text-center" style="color: forestgreen">
        @Html.ViewData["Success"]
    </h3>

    <div class="form-group">
        <label class="col-form-label">Email</label>
        <input class="form-control" value="@User.Identity.Name">
    </div>

    <form id="account" method="post" asp-antiforgery="true" asp-action="ChangePassword" novalidate="novalidate">
        <div class="form-group">
            <label class="col-form-label">Current Password</label>
            <span class="text-danger">
                <div>
                    @Html.ValidationMessageFor(model => model.CurrentPassword)
                </div>
            </span>
            <input class="form-control" asp-for="CurrentPassword">
            <span class="invalid-feedback" asp-validation-for="CurrentPassword"></span>
        </div>
        <div class="form-group">
            <label class="col-form-label">New Password</label>
            <span class="text-danger">
                <div>
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
            </span>
            <input class="form-control" asp-for="NewPassword">
            <span class="invalid-feedback" asp-validation-for="NewPassword"></span>
        </div>
        <div class="form-group">
            <label class="col-form-label">Confirm New Password</label>
            <span class="text-danger">
                <div>
                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                </div>
            </span>
            <input class="form-control" asp-for="ConfirmNewPassword">
            <span class="invalid-feedback" asp-validation-for="ConfirmNewPassword"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Change Password</button>
        </div>
    </form>

</div>

<script src="~/js/success.js"></script>

</body>
</html>